<%= render 'case/case_header', view: :calendar %>
<h2 class="h5 mt-3 mb-3 fw-bold">Kalendereintrag erstellen</h2>

<%= render 'calendar/form', form_to: create_event_path(@case), event: @calendar_event %>