<%= render 'case/case_header', view: :permissions %>

<h3 class="h3 mb-3 fw-bold">Berechtigung bearbeiten</h3>

<%= render 'permissions/form', permission: @case_permission, form_to: update_permission_url(@case, @case_permission) %>