/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

.login-card {
    max-width: 800px;
    margin: 2rem auto;
}

textarea.form-control,
.form-floating textarea.form-control {
    min-height: 75px;
    height: 150px;
    max-height: 350px;
    resize: vertical;

    &.textarea-sm {
        min-height: 80px;
        height: 100px;
        max-height: 175px;
    }
}

.fs-small {
    font-size: 0.9em;
    line-height: 1.35;
}
.fs-tiny {
    font-size: 0.8em;
    line-height: 1.15;
}

table.fix-table {
    table-layout: fixed;
}

.card-body table {    
    border-bottom-right-radius: var(--bs-card-border-radius);
    border-bottom-left-radius: var(--bs-card-border-radius);
    td, th {
        background-color: transparent;
    }

    tr:last-child td,
    tr:last-child th {
        border-bottom: none;
    }
}

table.data-table tr :first-child ~ * {
    border-left: 1px solid;
    border-left-color: inherit;
}

.btn.active,
.btn:active {
    box-shadow: 0 0 5px 1px #0003 inset;
}

.form-control.h3 {
    font-size: 1.75rem !important
}

trix-editor.trix-content {
    background-color: white;
    min-height: 150px;
}

trix-toolbar {
    top: 45px;
    position: sticky;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
    padding: 1rem;
    padding-bottom: 0;
    margin-bottom: 0.5rem;
}

.simple-calendar table {
    table-layout: fixed;
}

.simple-calendar .day {
    cursor: pointer;
    transition: opacity .25s ease;
}
.simple-calendar .day.today {
    background-color: #ffa;
}
.simple-calendar .day.next-month,
.simple-calendar .day.prev-month {
    opacity: 0.5;
}
.simple-calendar .day.past:not(:hover) {
    opacity: 0.25;
}
.simple-calendar .day.next-month.past:not(:hover),
.simple-calendar .day.prev-month.past:not(:hover) {
    opacity: 0.125;
}

.simple-calendar .day.wday-0 h3 { color: #c00; }

.simple-calendar .day h3 a {
    color: inherit;
    text-decoration: none;
    width: 100%;
    display: block;

    &:hover {
        text-decoration: underline;
    }
}

.form-control[readonly],
.form-select[disabled] {
    border: none;
    background-color: transparent;
    padding: 0;
}

.form-select[disabled] {
    background-image: none;
    padding: 0.15rem;
}


.form-floating .form-control[readonly],
.form-floating .form-select[disabled] {
    margin: 0;
    padding-top: 0.75rem;
    padding: 0.15rem;

    &[type=date] {
        padding: 0;
    }
}

.form-floating .form-control[readonly] + label[for],
.form-floating .form-select[disabled] + label[for] {
    background-color: transparent;
    margin: 0;
    padding: 0;
    transform: scale(0.85) translateY(-0.25rem) translateX(0.15rem);
    pointer-events: none;

    &::after { display: none; }
}