<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body class="bg-light">
    <%= render 'layouts/header', margin: true %>
    <%= render 'layouts/flash_messages' %>
    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>
